
form{
	width: 250px;
	border: groove;
	display: grid;
	margin: auto;
	justify-content: start;
	color: #000;
	padding: 10px;
}
input{
	border-radius: 10px;
	width: 240px;
	height: 20px;
}
button{
	color: #000;
	background-color: #00ffff;
	height: 25px;
	width: 240px;
	border-radius: 10px;
}
select{
	color: #000;
	height: 25px;
	width: 240px;
	border-radius: 10px;
}